body {
  margin: 0px;
}

.container {
  /*width: 1500px;*/
  min-height: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: #F8F8F8;
}

/* ヘッダーメニュー整理 */
.header_nav {
  display: flex;
  align-items: center;
  list-style: none;
  background-color: white;
  border-bottom: solid 3px #BDBDB7;
  /*padding-left: 0;*/
  /*padding: 10px 0px;*/
  margin-block-start: unset;
  margin-block-end: unset;
  /*position: fixed;*/
}
.header_nav_left {
  display: flex;
}
.header_nav_right {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-block-start: unset;
  margin-block-end: unset;
}
.header_nav li {
  margin-right: 30px;
  list-style: none;
}
/*.header_nav li ul{*/
/*    display: none;*/
/*    padding: 0px;*/
/*}*/
/*.header_nav li:hover ul{*/
/*    display: block;*/
/*}*/

.ham {
	position: relative;
	width: 40px;
	height: 40px;
	cursor: pointer;
	background-color: black;
}
.ham_line {
	position: absolute;
	left: 10px;
	width: 20px;
	height: 1px;
	background-color: white;
	transition: all 0.3s;
}
.ham_line1 {
	top: 10px;
}
.ham_line2 {
	top: 18px;
}
.ham_line3 {
	top: 26px;
}
.clicked .ham_line1 {
	transform: rotate(45deg);
	top: 20px;
}
.clicked .ham_line2 {
	width: 0px;
}
.clicked .ham_line3 {
	transform: rotate(-45deg);
	top: 20px;
}
.menu_wrapper {
  margin-top: 50px;
}
.menu {
  text-align: center;
  position: fixed;
	width: 200px;
	height: 150px;
	right: -400px;
	transition: all 0.3s;
	background-color: gray;
}
.clicked .menu {
	right: 0.1px;
}

/*フッターメニュー整理*/
.footer_nav {
  list-style-type: none;
  background-color: white;
  padding: 10px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.footer_nav li {
  display: inline-block;
  margin-right: 30px;
  font-size: 12px;
  color: #BFC5CA;
  margin-block-start: unset;
  margin-block-end: unset;
}

/* エラーメッセージ用のスタイル */
.error {
  color: red;
}
/* 成功メッセージ用のスタイル */
.success {
  color: green;
}

/* トップページ整理 */
.items {
  display: flex;
  flex-wrap: wrap;
  width: 980px;
}
.item {
  margin-bottom: 30px;
  margin-right: 20px;
  list-style: none;
  width: 300px;
  border: solid 1px black;
}
.item p {
  margin-block-start: unset;
  margin-block-end: unset;
}
.item_header {
  display: flex;
}
.item_header img {
  width: 300px;
  height: 300px;
}
.item_body {
  background-color: white;
}

/* お気に入りボタン */
.like_button {
  cursor: pointer;
  color: white;/*アイコン色*/
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 30px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(#F68B1E 0%, #F79428 100%);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
}
.like_button:active {
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.5), 0 2px 2px rgba(0, 0, 0, 0.19);
  border-bottom: none;
}

.like {
  display: inline;
}
.like_post {
    background-color: gray;
    border-top: solid 1px #e67c2e;
    border-bottom: solid 1px #e67c2e;
}
.like_post .post_body_heading {
    background-color: #dccaca;
}
.like_post .post_comments {
    background-color: #e4d6c7;
}
.like_post .like_button {
    color: yellow;
}

/*全体*/
a {
  text-decoration: none;
}

/*ログイン画面*/
.top {
  width: 600px;
  background-color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
}
.top_title {
  text-align: center;
  font-size: 50px;
  margin-block-start: unset;
  margin-block-end: unset;
}
.top h2 {
  width: 560px;
  padding: 10px 0px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 1px #BDBDB7;
}
.top_input {
  width: 400px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
.top_input label {
  display: inline-block;
}
.top_input input {
  display: block;
  margin-bottom: 10px;
  border-radius: 0.5em;
}

/*新規出展*/
.create_block {
  width: 600px;
  background-color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.create_block h1 {
  width: 560px;
  padding: 10px 0px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: solid 1px #BDBDB7;
}
.create_description {
  width: 400px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}
.create_block label {
  display: inline-block;
}
.item_description {
  display: block;
  margin-bottom: 10px;
}
.item_image {
  display: none;
}
.select_image {
  cursor: pointer;
}
.button {
  width: 400px;
  color: white;
  background-color: #0067C0;
  border: #0067C0;
  border-radius: 0.5em;
  padding: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

/*作品詳細*/
.show_block {
  width: 900px;
  background-color: white;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}
.show_body {
  display: flex;
  justify-content: center;
  width:700px;
  margin: 0 auto 30px auto;
}
.show_body ul {
  text-align: left;
}
.show_body ul li {
  list-style: none;
}

/*カルーセル*/
.carousel {
  width: 100%;
  height: 300px;
  margin: 0 auto;
}
/* 画像に合わせてカルーセルの高さを調整 */
.slick-slide {
  height: auto;
}
/* 背景の色に合わせて前後の矢印の色を調整 */
.slick-prev:before,
.slick-next:before {
  color: #000;
}
.slick-dots {
  margin: 0 auto 30px 0;
}
/*.slick-dotted.slick-slider {*/
/*  padding-top: 70px;*/
/*}*/
